body{
    margin: 0%;
    color:#8C513B;
    background-color: #F2DABD;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

header{
    border-bottom: solid 1px #BF5A50;
    margin: 10px;
}

.Choices-main{
    background: #F2D5A0;
    padding-left: 5%;
}

.Choices-main button{
    line-height: 150px;
    width: 150px;
    background-size:cover;
    background-blend-mode: overlay;
    background-color: #D93D04;
    border-color: #D93D04 ;
    transition-duration: 0.2s;
}

.akira-button {
    background-image: url(https://img.youtube.com/vi/cMx5ajcWnMU/maxresdefault.jpg);
}

.saibou-button{
    background-color: #8C513B;
}

.Choices-main button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 155px;
    line-height: 155px;
    background-color: #f7490a;
    border-color: #D93D04;
}

.text-main1{
    padding-left: 45%;
}
