body{
    margin: 0%;
    color: rgb(149, 0, 255);
    background: 
    linear-gradient( rgb(0, 0, 0),rgba(255,255,255, 0.15)), 
    url(https://i.pinimg.com/originals/04/1f/21/041f216971945cdd7fb67e6ab1fdc292.gif);
    background-size: cover;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

header{
    position: sticky;
    top: 0;
    border-bottom: solid 1px rgba(245, 245, 245, 0.226);
    text-decoration:overline;
    z-index: 20;
}

.title{
    padding-left: 1.5%;
    font-family: Helvetica, sans-serif;
    text-decoration: dashed;
}

.images-recomend img{
    display: flex;
    width: 30%;
    height: 30%;
    box-shadow: 2px 2px 1px black ;
}


.images-recomend img:hover{
    width: 35%;
    height: 35%;
    transition: 0.2s;
}

.Choices-main{
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding-left: 5%;
    
}

.buttons-main{
    display: flex;
    gap: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}


.Choices-main button{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent ;
    background-color: transparent;
    color: transparent;
    transition-duration: 0.2s;
}

.akira-button {
    background-image: url(https://img.youtube.com/vi/cMx5ajcWnMU/maxresdefault.jpg);
}

.saibou-button{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwTucrp8DHlf8ZSs7U0RvBnClKh3qxcyKwBg&s);
}

.Choices-main button:hover{
    height: 270px;
    width: 350px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #89009b;
    background-blend-mode: lighten;
    border-color: #89009b;
}

.random{
    text-align: center;
    text-wrap: auto;
}

.text-main1{
    padding-left: 45%;
}
