body{
    margin: 0%;
    color: rgb(149, 0, 255);
    background-image: url(https://i.pinimg.com/originals/04/1f/21/041f216971945cdd7fb67e6ab1fdc292.gif);
    filter: linear-gradient(black, rgba(255, 255, 255, 0), black);
    background-blend-mode: multiply;
    background-size: cover;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

header{
    border-bottom: solid 1px #2301275d;
    background-image: linear-gradient(rgba(80, 15, 80, 0.74), rgba(41, 2, 66, 0.315));
    background-blend-mode: overlay;
   
}

.images-recomend img{
    width: 50%;
}

.Choices-main{
    background-color: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding-left: 5%;
    
}

.buttons-main{
    padding-top: 3%;
    padding-bottom: 3%;
}


.Choices-main button{
    line-height: 150px;
    width: 150px;
    background-size:cover;
    background-blend-mode: overlay;
    background-color: #710080;
    border-color: #710080 ;
    transition-duration: 0.2s;
    color: transparent;
}

.akira-button {
    background-image: url(https://img.youtube.com/vi/cMx5ajcWnMU/maxresdefault.jpg);
    background-size: cover;
}

.saibou-button{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwTucrp8DHlf8ZSs7U0RvBnClKh3qxcyKwBg&s);
    background-size: cover;
}

.Choices-main button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 155px;
    line-height: 155px;
    background-color: #89009b;
    border-color: #89009b;
}

.text-main1{
    padding-left: 45%;
}
