
body{
    margin: 0%;
    color:#8C513B;
    background-color: #F2DABD;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

header{
    border-bottom: solid 1px #BF5A50;
    margin: 10px;
}

.Choices-main{
    background: #F2D5A0;
    padding-left: 5%;
}

.Choices-main button{
    line-height: 150px;
    width: 150px;
    border-radius: 5%;
    background-image: url(https://img.youtube.com/vi/cMx5ajcWnMU/maxresdefault.jpg);
    background-size:cover;
    background-blend-mode: overlay;
    background-color: #D93D04;
    border-color: #D93D04 ;
    transition-duration: 0.2s;
}

.Choices-main button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 155px;
    line-height: 155px;
    background-color: #f7490a;
    border-color: #D93D04;
}

.text-main1{
    padding-left: 45%;
}




.text-base1 {
    text-shadow: 2px 2px 2px #D93D04;
    color:#ffffff;
    padding-right: 10%;
    padding-left: 5%;
    font-family: "DotGothic16", sans-serif;
    font-optical-sizing: auto;
}


.videos-recomd{
    background: #8C6746;
    margin-left: 1%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.saibou-content{
   padding-left: 40px;
   border-style: hidden;
   
}


.videos-recomd img{
    opacity: 0.5;
    height: 150px;
}

.videos-recomd img:hover{
    opacity: 1.0;
    justify-content: center;
    height: 155px;
    
}
