
body{
    margin: 0%;
    color:#8C513B;
    background-color: #F2DABD;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

header{
    border-bottom: solid 1px #BF5A50;
    margin: 10px;
}

.text-base1 {
    color:#D93D04;
    margin-right: 5%;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

.text-base2{
  text-shadow: 2px 2px white;
}


.videos-recomd{
    background: #8C6746;
    margin-left: 1%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.video-main{
    background:#010326;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.videos-recomd img{
    opacity: 0.5;
    height: 150px;
}

.videos-recomd img:hover{
    opacity: 1.0;
    height: 155px;
    
}
